<!DOCTYPE html>
<html>
<head>
    <title>Site</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('app.home') }}">Home</a>
        <a href="{{ url_for('app.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('app.aircraft') }}">Aircraft</a>
        <a href="{{ url_for('app.airports') }}">Airports</a>
        <a href="{{ url_for('app.flights') }}">Flights</a>
        <a href="{{ url_for('app.add') }}">Add</a>
        <a href="{{ url_for('app.login') }}">Logout</a>
    </div>
    <div class="content">
        <div class="left-navbar" style="position: fixed; text-align: left;">
            <a href="{{ url_for('app.add_aircraft') }}">Add Aircraft</a>
            <a href="{{ url_for('app.add_airport') }}">Add Airport</a>
            <a href="{{ url_for('app.add_flight') }}">Add Flight</a>
            <a href="{{ url_for('app.add_maintenance_log') }}">Add Maintenance Log</a>
            <a href="{{ url_for('app.add_schedule_maintenance') }}">Add Scheduled Maintenance</a>
        </div>
        <div class="form-container" style="height: 700px; overflow-y: auto;">
            <form action="{{ url_for('app.add_aircraft') }}" method="post">
                <label for="registration_code">Registration Code:</label>
                <input type="text" id="registration_code" name="registration_code"><br><br>
                
                <label for="flight_range">Flight Range:</label>
                <input type="text" id="flight_range" name="flight_range"><br><br>
                
                <label for="model">Model:</label>
                <input type="text" id="model" name="model"><br><br>
                
                <label for="weight_capacity">Weight Capacity:</label>
                <input type="text" id="weight_capacity" name="weight_capacity"><br><br>
                
                <label for="fuel_capacity">Fuel Capacity:</label>
                <input type="text" id="fuel_capacity" name="fuel_capacity"><br><br>
                
                <label for="passenger_capacity">Passenger Capacity:</label>
                <input type="text" id="passenger_capacity" name="passenger_capacity"><br><br>
                
                <label for="fuel_efficiency">Fuel Efficiency:</label>
                <input type="text" id="fuel_efficiency" name="fuel_efficiency"><br><br>
                
                <label for="status">Status:</label>
                <input type="text" id="status" name="status"><br><br>
                
                <label for="manufacturer">Manufacturer:</label>
                <input type="text" id="manufacturer" name="manufacturer"><br><br>
                
                <label for="manufacture_date">Manufacture Date:</label>
                <input type="date" id="manufacture_date" name="manufacture_date"><br><br>
                
                <label for="home_airport_id">Home Airport ID:</label>
                <input type="text" id="home_airport_id" name="home_airport_id"><br><br>
                
                <label for="latest_arrival_airport_id">Latest Arrival Airport ID:</label>
                <input type="text" id="latest_arrival_airport_id" name="latest_arrival_airport_id"><br><br>
                
                <input type="submit" value="Add Aircraft">
            </form>
        </div>
    </div>
    <div class="masthead">
        <p>Luke Roth and Rohith Velmurugan 2024</p>
    </div>
</body>
</html>