<!DOCTYPE html>
<html>
<head>
    <title>Site</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('app.home') }}">Home</a>
        <a href="{{ url_for('app.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('app.aircraft') }}">Aircraft</a>
        <a href="{{ url_for('app.airports') }}">Airports</a>
        <a href="{{ url_for('app.flights') }}">Flights</a>
        <a href="{{ url_for('app.add') }}">Add</a>
        <a href="{{ url_for('app.login') }}">Logout</a>
    </div>
    <div class="content">
        <div class="left-navbar" style="position: fixed; text-align: left;">
            <a href="{{ url_for('app.add_aircraft') }}">Add Aircraft</a>
            <a href="{{ url_for('app.add_airport') }}">Add Airport</a>
            <a href="{{ url_for('app.add_flight') }}">Add Flight</a>
            <a href="{{ url_for('app.add_maintenance_log') }}">Add Maintenance Log</a>
            <a href="{{ url_for('app.add_schedule_maintenance') }}">Add Scheduled Maintenance</a>
        </div>
        <div class="form-container">
            <form action="{{ url_for('app.add_airport') }}" method="post">
                <label for="icao_code">ICAO Code:</label>
                <input type="text" id="icao_code" name="icao_code" required><br>

                <label for="civilian_name">Name:</label>
                <input type="text" id="civilian_name" name="civilian_name" required><br>

                <label for="latitude">Latitude:</label>
                <input type="text" id="latitude" name="latitude" required><br>

                <label for="longitude">Longitude:</label>
                <input type="text" id="longitude" name="longitude" required><br>
                
                <input type="submit" value="Add Airport">
            </form>
        </div>
    </div>
    <div class="masthead">
        <p>Luke Roth and Rohith Velmurugan 2024</p>
    </div>
</body>
</html>