<!DOCTYPE html>
<html>
<head>
    <title>Aircraft</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('app.home') }}">Home</a>
        <a href="{{ url_for('app.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('app.aircraft') }}">Aircraft</a>
        <a href="{{ url_for('app.airports') }}">Airports</a>
        <a href="{{ url_for('app.flights') }}">Flights</a>
        <a href="{{ url_for('app.maintenance_logs') }}">Maintenance Logs</a>
        <a href="{{ url_for('app.maintenance_schedules') }}">Maintenance Schedules</a>
        <a href="{{ url_for('app.add') }}">Add</a>
        <a href="{{ url_for('app.login') }}">Logout</a>
    </div>
    <div class="container" style="margin-top: 50px;">
        <div>
            <h2>Aircraft</h2>
            <div class="search-container">
                <form method="GET" action="{{ url_for('app.aircraft') }}">
                    <input type="text" name="registration_code" placeholder="Registration Code">
                    <select name="registration_code_operator">
                        <option value="=">=</option>
                        <option value="contains">contains</option>
                    </select>
                    <input type="text" name="flight_range" placeholder="Range">
                    <select name="flight_range_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="model" placeholder="Model">
                    <select name="model_operator">
                        <option value="=">=</option>
                        <option value="contains">contains</option>
                    </select>
                    <input type="text" name="weight_capacity" placeholder="Weight Capacity">
                    <select name="weight_capacity_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="fuel_capacity" placeholder="Fuel Capacity">
                    <select name="fuel_capacity_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="passenger_capacity" placeholder="Passenger Capacity">
                    <select name="passenger_capacity_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="fuel_efficiency" placeholder="Fuel Efficiency">
                    <select name="fuel_efficiency_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="status" placeholder="Status">
                    <select name="status_operator">
                        <option value="=">=</option>
                        <option value="contains">contains</option>
                    </select>
                    <input type="text" name="manufacturer" placeholder="Manufacturer">
                    <select name="manufacturer_operator">
                        <option value="=">=</option>
                        <option value="contains">contains</option>
                    </select>
                    <input type="text" name="manufacture_date" placeholder="Manufacture Date">
                    <select name="manufacture_date_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="home_airport" placeholder="Home Airport">
                    <select name="home_airport_operator">
                        <option value="=">=</option>
                        <option value="contains">contains</option>
                    </select>
                    <input type="text" name="latest_airport" placeholder="Latest Airport">
                    <select name="latest_airport_operator">
                        <option value="=">=</option>
                        <option value="contains">contains</option>
                    </select>
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="table-container">
                <table class="styled-table" style="background-color: white;">
                    <thead>
                        <tr>
                            <th>Registration Code</th>
                            <th>Range</th>
                            <th>Model</th>
                            <th>Weight Capacity</th>
                            <th>Fuel Capacity</th>
                            <th>Passenger Capacity</th>
                            <th>Fuel Efficiency</th>
                            <th>Status</th>
                            <th>Manufacturer</th>
                            <th>Manufacture Date</th>
                            <th>Home Airport</th>
                            <th>Latest Airport</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aircraft in aircraft_list %}
                        <tr>
                            <td>{{ aircraft[0] }}</td>
                            <td>{{ aircraft[1] }}</td>
                            <td>{{ aircraft[2] }}</td>
                            <td>{{ aircraft[3] }}</td>
                            <td>{{ aircraft[4] }}</td>
                            <td>{{ aircraft[5] }}</td>
                            <td>{{ aircraft[6] }}</td>
                            <td>{{ aircraft[7] }}</td>
                            <td>{{ aircraft[8] }}</td>
                            <td>{{ aircraft[9] }}</td>
                            <td>{{ aircraft[10] }}</td>
                            <td>{{ aircraft[11] }}</td>
                            <td><a href="{{ url_for('app.edit_aircraft', registration_code=aircraft[0]) }}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="masthead">
        <p>Luke Roth and Rohith Velmurugan 2024</p>
    </div>
</html>