<!DOCTYPE html>
<html>
<head>
    <title>Airports</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('app.home') }}">Home</a>
        <a href="{{ url_for('app.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('app.aircraft') }}">Aircraft</a>
        <a href="{{ url_for('app.airports') }}">Airports</a>
        <a href="{{ url_for('app.flights') }}">Flights</a>
        <a href="{{ url_for('app.add') }}">Add</a>
        <a href="{{ url_for('app.login') }}">Logout</a>
    </div>
    <div class="container" style="margin-top: 50px;">
        <div>
            <h2>Airports</h2>
            <div class="table-container">
                <table class="styled-table" style="background-color: white;">
                    <thead>
                        <tr>
                            <th>ICAO Code</th>
                            <th>Name</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for airport in airport_list %}
                        <tr>
                            <td>{{ airport[0] }}</td>
                            <td>{{ airport[1] }}</td>
                            <td>{{ airport[2] }}</td>
                            <td>{{ airport[3] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <div class="masthead">
        <p>Luke Roth and Rohith Velmurugan 2024</p>
</html>