<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('app.home') }}">Home</a>
        <a href="{{ url_for('app.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('app.aircraft') }}">Aircraft</a>
        <a href="{{ url_for('app.airports') }}">Airports</a>
        <a href="{{ url_for('app.flights') }}">Flights</a>
        <a href="{{ url_for('app.maintenance_logs') }}">Maintenance Logs</a>
        <a href="{{ url_for('app.maintenance_schedules') }}">Maintenance Schedules</a>
        <a href="{{ url_for('app.add') }}">Add</a>
        <a href="{{ url_for('app.login') }}">Logout</a>
    </div>
    <div class="content">
        <h1>Dashboard</h1>
        <div class="grid-container">
            <div class="grid-item">
                <h2>Average Flights per Plane</h2>
                <p style="font-size:40pt;">{{ overall_avg_flights }}</p>
            </div>
            <div class="grid-item">
                <h2>Most Flown Aircraft</h2>
                <ul>
                    {% for aircraft in most_flown_aircraft %}
                        <li>{{ aircraft[0] }}, {{ aircraft[1] }} Flights</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="grid-item">
                <h2>Most Visited Airports</h2>
                <ul>
                    {% for airport in most_visited_airports %}
                        <li>{{ airport[0] }}, {{ airport[1] }} Visits</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="grid-item">
                <h2>Least Visited Airports</h2>
                <ul>
                    {% for airport in least_visited_airports %}
                        <li>{{ airport[0] }}, {{ airport[1] }} Visits</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <h2>Maintenances This Week</h2>
                <p style="font-size:40pt;">{{ scheduled_maintenances }}</p>
            </div>
            <div class="grid-item">
                <h2>Average Flight Distance</h2>
                <p style="font-size:40pt;">{{ average_flight_distance }} km</p>
            </div>
            <div class="grid-item">
                <h2>Average Flight Time</h2>
                <p style="font-size:40pt;">{{ average_flight_time }} minutes</p>
            </div>
            <div class="grid-item">
                <h2>Most Common Aircraft Types</h2>
                <p style="font-size:40pt;">{{ most_common_aircraft_types }}</p>
    </div>
    <div class="masthead">
        <p>Luke Roth and Rohith Velmurugan 2024</p>
    </div>
</body>
</html>