<!DOCTYPE html>
<html>
<head>
    <title>Manage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('app.home') }}">Home</a>
        <a href="{{ url_for('app.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('app.aircraft') }}">Aircraft</a>
        <a href="{{ url_for('app.airports') }}">Airports</a>
        <a href="{{ url_for('app.flights') }}">Flights</a>
        <a href="{{ url_for('app.maintenance_logs') }}">Maintenance Logs</a>
        <a href="{{ url_for('app.maintenance_schedules') }}">Maintenance Schedules</a>
        <a href="{{ url_for('app.add') }}">Add</a>
        <a href="{{ url_for('app.login') }}">Logout</a>
    </div>
    <div class="container" style="margin-top: 50px;">
        <div>
            <h2>Flights</h2>
            <div class="search-container">
                <form method="GET" action="{{ url_for('app.flights') }}">
                    <input type="text" name="scheduled_departure" placeholder="Scheduled Departure">
                    <select name="scheduled_departure_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="scheduled_arrival" placeholder="Scheduled Arrival">
                    <select name="scheduled_arrival_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="actual_departure" placeholder="Actual Departure">
                    <select name="actual_departure_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="actual_arrival" placeholder="Actual Arrival">
                    <select name="actual_arrival_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="passenger_count" placeholder="Passenger Count">
                    <select name="passenger_count_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="projected_fuel_consumption" placeholder="Projected Fuel Consumption">
                    <select name="projected_fuel_consumption_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="actual_fuel_consumption" placeholder="Actual Fuel Consumption">
                    <select name="actual_fuel_consumption_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="distance" placeholder="Distance">
                    <select name="distance_operator">
                        <option value="=">=</option>
                        <option value=">">&gt;</option>
                        <option value="<">&lt;</option>
                    </select>
                    <input type="text" name="aircraft_id" placeholder="Aircraft ID">
                    <select name="aircraft_id_operator">
                        <option value="=">=</option>
                        <option value="contains">contains</option>
                    </select>
                    <input type="text" name="arrival_airport" placeholder="Arrival Airport">
                    <select name="arrival_airport_operator">
                        <option value="=">=</option>
                        <option value="contains">contains</option>
                    </select>
                    <input type="text" name="departure_airport" placeholder="Departure Airport">
                    <select name="departure_airport_operator">
                        <option value="=">=</option>
                        <option value="contains">contains</option>
                    </select>
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="table-container">
                <table class="styled-table" style="background-color: white;">
                    <thead>
                        <tr>
                            <th>Scheduled Departure</th>
                            <th>Scheduled Arrival</th>
                            <th>Actual Departure</th>
                            <th>Actual Arrival</th>
                            <th>Passenger Count</th>
                            <th>Projected Fuel Consumption</th>
                            <th>Actual Fuel Consumption</th>
                            <th>Distance</th>
                            <th>Aircraft ID</th>
                            <th>Arrival Airport</th>
                            <th>Departure Airport</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for flight in flight_list %}
                        <tr>
                            <td>{{ flight[1] }}</td>
                            <td>{{ flight[2] }}</td>
                            <td>{{ flight[3] }}</td>
                            <td>{{ flight[4] }}</td>
                            <td>{{ flight[5] }}</td>
                            <td>{{ flight[6] }}</td>
                            <td>{{ flight[7] }}</td>
                            <td>{{ flight[8] }}</td>
                            <td>{{ flight[9] }}</td>
                            <td>{{ flight[10] }}</td>
                            <td>{{ flight[11] }}</td>
                            <td><a href="{{ url_for('app.edit_flight', flight_id=flight[0]) }}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="masthead">
        <p>Luke Roth and Rohith Velmurugan 2024</p>
    </div>
</body>
</html>